@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-It.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-Sb.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-SbIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gitan-latn";
  src: url('./assets/fonts/GitanLatnWeb/GitanLatnWeb-BdIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: "gitan-latn", serif;
}

#app {
  background-color: #3a3a3a;
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

a:link, a:visited {
  color:#EC8923;
  text-decoration: none;
}

h1 {
  font-weight: 400;
 }

.home {
  padding: 2em;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home ul li {
  font-weight: 400;
  margin-bottom: 1em;
}

.home ul li a {
  font-weight: 600;
  font-size: 1.5em;
}

.description {
  margin: 0.25em 0 0;
  color: #ccc;
}

.error {
  color: #f66;
}

.map-page {
  padding: 2em;
}

.thumbs ul {
  list-style-type: none;
  padding-left: 0;
}

.thumbs ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #444444;
}

.thumbs ul li.active {
  border: 1px solid #ccc;
}

.thumbs button {
  background: none;
  border: none;
  color:#EC8923;
  font: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
.text-area {
  overflow-y: auto;
}

.text-area p {
  font-size: 1.25em;
  line-height: 1.5em;
}